<app-welcomeadmin></app-welcomeadmin>

<div class="container mt-3">
    <h1 class="display-4 text-center">Material Registration</h1>
</div>

<div class="container mt-3">
    <!-- Ecabezado de tabla -->
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-dark bg-primary">
                <a class="navbar-brand text-light">Tabla de materiales</a>
                <form class="form-inline">
                    <button type="button" (click)="show = 'modal'" data-toggle="modal" data-target="#agregar" class="btn">
                        <img src="https://image.flaticon.com/icons/svg/148/148764.svg" alt="add-button" width="30"/>
                    </button>
                </form>
            </nav>
        </div>
    </div>

    <!-- Tabla -->
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Barcode</th>
                        <th scope="col">Material</th>
                        <th scope="col">Unit price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of materiales">
                        <th scope="row" class="align-middle">{{ data.barcode }}</th>
                        <th scope="row" class="align-middle">{{ data.material }}</th>
                        <th scope="row" class="align-middle">{{ currency(data.unitprice) }}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Agregar material -->
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="agregar" tabindex="-1" role="dialog" aria-labelledby="agregarLabel1" aria-hidden="true" *ngIf="show == 'modal'">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarLabel">Agregar material</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputName">Material name</label>
                            <input required class="form-control" type="text" placeholder="Nombre" maxlength="20"/>
                            <!--<input required class="form-control" ngModel id="name" name="name" #name="ngModel" type="text" placeholder="Nombre" maxlength="20"/> -->
                            <!--<div class="alert alert-danger" *ngIf="name.touched && !name.valid">
                                Debe ingresar un nombre válido.
                            </div>
                            <div class="alert alert-danger" *ngIf="name.touched && keyConstraint(name.control?.value)">
                                El nombre ya existe.
                            </div> -->
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputName">Unit price</label>
                            <input required class="form-control" type="number" placeholder="Precio unitario" />
                            <!--<input required class="form-control" ngModel id="price" name="price" #price="ngModel" type="number" placeholder="Precio unitario" /> -->
                            <!-- <div class="alert alert-danger" *ngIf="price.touched && !price.valid">
                                Debe ingresar un precio válido.
                            </div> -->
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="show = home">
                    Close
                </button>
                <button type="button" class="btn btn-primary bg-success" [disabled]="!name.valid || keyConstraint(name.control?.value) || !price.valid" (click)="submit(name.control?.value, price.control?.value)" data-dismiss="modal">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>